* {
    box-sizing: border-box;
}

body, button{
	font-family: Karla, sans-serif;
}

body {
	background-color: #F5F7FB;
	margin: 0;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.top-level-container {
	background-image: url("/public/yellow-blob.svg"), url("/public/blue-blob.svg");
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: top right, bottom left;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.welcome > h1 {
	font-size: 3rem;
	color: #293264;
	margin: 0;
	text-align: center;
}

.welcome > h2 {
	font-size: 1.25rem;
	color: #293264;
	font-weight: normal;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.main-button {
	background-color: #4D5B9E;
	color: #F5F7FB;
	border: none;
	padding: 1rem 3rem;
	border-radius: 1rem;
	font-size: 1.25rem;
	font-weight: 500;
}

.main-button:disabled {
	opacity: 0.25;
}

.questions-container {
	width: 70%;
	max-width: 80ch;
}

.question {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.top-level-container > h1 {
	font-size: 2.125rem;
	color: #293264;
	text-align: center;
}

.question > h2 {
	font-size: 1.5rem;
	color: #293264;
	margin: 0;
	text-align: left;
}

.question > h3 {
	font-size: 1rem;
	color: #596190;
	font-weight: normal;
	margin-top: 0.25rem;
	margin-bottom: 2rem;
}

.answer-button {
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	border: solid;
	border-radius: 1rem;
	border-width: 2px;
	font-size: 1.125rem;
	font-weight: 500;
	color: #293264;
	padding: 0.375rem 0.75rem;
}

.answer-button.normal {
	background-color: #F5F7FB;
	border-color: #4D5B9E;
}

.answer-button.selected {
	background-color: #D6DBF5;
	border-color: transparent;
}

.answer-button.correct {
	background-color: #94D7A2;
	border-color: transparent;
}

.answer-button.incorrect {
	background-color: #F8BCBC;
	border-color: transparent;
	opacity: 0.5;
}

.answer-button.other {
	opacity: 0.5;
}

.bottom-controls {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.results {
	margin: 0 3rem;
	font-size: 1.375rem;
	color: #293264;
	font-weight: bold;
}